<!-- your html code here -->
<!-- your html code here -->

<div class="container  my-5">
    <div class="row">
        <div class="col-12">
            <h3>
                Contact
            </h3>

            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur 
                sequi, reiciendis fugiat velit voluptates 
                voluptate quos nostrum aperiam temporibus quibusdam magni 
                saepe nam, quas quia eius dolores sit earum laboriosam?</p>
        </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-8 bg-light border  m-2">
                <form class="form my-2">
                    <div class="row justify-content-end">
                        <div class="col-3 my-2">
                            <p class="text-end ">
                                <b>Your E-mail</b>
                            </p>
                         </div>

                         <div class="col-9">
                             <input type="text" placeholder="Your email" class="form-control w-100">
                        </div>  
                    </div>

                    <div class="row justify-content-end d-flex">
                        <div class="col-3 ">
                            <p class="text-end ">
                                <b>Your message</b>
                            </p>
                         </div>

                         <div class="col-9">
                            <textarea name="" id="" rows="4" placeholder="Please enter youyr message here..." rows="10" class="form-control w-100"></textarea>
                             
                        </div>  
                    

                    
                         <div class="justify-content-end d-flex my-3">
                            <button class="btn btn-primary p-2">
                                    Submit
                            </button>
                        </div>
                    
                    </div>
            </form>
            
        </div>

    </div>
</div>
